<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Employee Reimbursement Portal', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"">
          <%= link_to 'Bills and Claims', bills_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About us', home_about_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add User', new_employee_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Add Bills and Claims', new_bill_path, class:"nav-link" %>
        </li>  
      </ul>
    </div>
  </div>
</nav>