<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
<table class="table">
  <thead class="thead-light" style="text-align: center">
    <tr class="table-active">
      <th scope="col">Type</th>
      <th scope="col">Amount</th>
      <th scope="col">Date of submission</th>
      <th scope="col">Submitted By</th>
      <th scope="col">Department</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody style="text-align: center">
    <% @bills.each do |bill| %>
      <tr>
          <td>
            <%= bill.bill_type.capitalize %>
          </td>
          <td>
            <%= bill.amount.to_f.round(2) %>
          </td>
          <td>
            <%= bill.created_at.to_date.strftime("%d-%m-%Y") %>
          </td>
          <td>
            <%= bill.submitted_by.first_name.capitalize + " "+ bill.submitted_by.last_name.capitalize %>
          </td>
          <td>
            <%= bill.submitted_by.department.name.capitalize %>
          </td>
          <td >
            <%= link_to '<i class="bi bi-eye-fill"></i>'.html_safe, bill_path(bill.id) %>
          </td>
        </tr>
      <%end%>
  </tbody>
</table>